.navbar .container {
    max-width: none;
}

header.masthead {
    background: none;
    height: 100%;
    min-height: auto;
}

.header-content-inner {
    position: relative;
    padding: 20%;
}

.header-content-inner img {
    width: 100% !important;
    height: auto !important;
}

.embed-responsive {
    display: flex;
}

.embed-responsive-item {
    z-index: -1;
    overflow: hidden;
    height: 100vh !important;
    width: 100vw !important;
}

.header-text {
    font-size: 2.5vh !important;
}

.bg-primary .col-lg-8 {
    flex: 0 0 90%;
    max-width: 90%
}

.text-faded a {
    color: #efe114;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .btn-xl-text {
      display: none !important;
  }
}

@media (max-width: 1024px) {
    header.masthead {
        height: auto;
    }
}
